<!doctype html>
<html lang="en">
<head>
    <title>Restaurante de la abuela</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Sección de menú de navegación-->
        <div class="container">
            <a id="inicio" class="navbar-brand" href="admin/login"> <i class="fas fa-utensils"></i> Restaurante de la abuela</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarnav"
                aria-controls="navbarnav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarnav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#Menú">Menú del día</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Chefs">Chefs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Testimonios">Testimonio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contacto">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#horario">Horarios</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Sección de Banner-->
    <section class="container-fluid p-0">
        <div class="banner-img" style="position:relative; background:url('static/images/logo/logorestaurante.png') center/cover no-repeat; height:400px;">
            <div class="banner-text" style="position:absolute; top:50%; left:50%; transform:translate (-50%,-50%); transform:translate(-50%,-50%); text-align:center; color:White;">
                <h1>Bienvenido al restaurante de la abuela</h1>
                <h3>El restaurante que te acerca a casa</h3>
                <a href="#" class="btn btn-primary">Ver menú</a>
            </div>
        </div>
    </section>

    <!-- Sección de Bienvenida -->
    <section id="id" class="container mt-4 text-center">
        <div class="jumbotron bg-dark text-white">
            <h2>¡Bienvenid@ al Restaurante de la abuela!</h2>
            <p>Dejanos sorprenderte con las delicias de la abuela.</p>
        </div>
    </section>

    <!-- Sección de Chef -->
    <section id="Chefs" class="container mt-4 text-center">
        <h2>Nuestros chefs</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="static/images/colaboradores/chef1.jpeg" class="card-img-top" alt="chef 1"/>
                    <div class="card-body">
                        <h5 class="card-title">Yeraldin</h5>
                        <p class="card-text">La chef que hace postres</p>
                        <div class="social-icons mt-3">
                            <a href="#" class="fab fa-facebook-f"></i></a>
                            <a href="#" class="fab fa-instagram"></i></a>
                            <a href="#" class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="static/images/colaboradores/chef2.png" class="card-img-top" alt="chef 1"/>
                    <div class="card-body">
                        <h5 class="card-title">Denis</h5>
                        <p class="card-text">La chef que hace el pan</p>
                        <div class="social-icons mt-3">
                            <a href="#" class="fab fa-facebook-f"></i></a>
                            <a href="#" class="fab fa-instagram"></i></a>
                            <a href="#" class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="static/images/colaboradores/chef3.png" class="card-img-top" alt="chef 1"/>
                    <div class="card-body">
                        <h5 class="card-title">Henry</h5>
                        <p class="card-text">El chef especializado en todo tipo de comida</p>
                        <div class="social-icons mt-3">
                            <a href="#" class="fab fa-facebook-f"></i></a>
                            <a href="#" class="fab fa-instagram"></i></a>
                            <a href="#" class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección de Testimonios -->
    <section id="Testimonios" class="bg-light py-5">
        <div class="container">
            <h2 class="text-center mb-4">Testimonios</h2>
            <div class="row">
                <div class="col-md-6 d-flex">
                    <div class="card mb-4 w-100">
                        <div class="card-body">
                            <div class="card-footer text-muted">Emma</div>
                            <p class="card-text">Excelente servicio.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex">
                    <div class="card mb-4 w-100">
                        <div class="card-body">
                            <div class="card-footer text-muted">Yeraldin</div>
                            <p class="card-text">Deliciosos sabores, excelente experiencia</p>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </section>

    <!-- Sección de Menú de comida -->
    <section id="Menú" class="container mt-4">
        <h2 class="text-center">Menú</h2>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col d-flex">
                <div class="card">
                    <img src="static/images/menus/menu_1.png" class="card-img-top" alt="Bandeja Paisa">
                    <div class="card-body">
                        <h5 class="card-title text-center">Bandeja paisa</h5>
                        <p class="card-text small"><strong>Descripcion:</strong> Frijoles, arroz blanco, carne molida, chicharron, chorizo, huevo frito, arepa frita, aguacate.</p>
                        <p class="card-text text-center"> <strong>Precio:</strong> $28.000</p>
                    </div>
                </div>
            </div>

            <div class="col d-flex">
                <div class="card">
                    <img src="static/images/menus/menu_2.png" class="card-img-top" alt="Picada">
                    <div class="card-body">
                        <h5 class="card-title text-center">Picada</h5>
                        <p class="card-text small"><strong>Descripcion:</strong> Carne de res, chorizo, rellena, papa criolla, mazorca, platano maduro, arepa.</p>
                        <p class="card-text text-center"> <strong>Precio:</strong> $50.000</p>
                    </div>
                </div>
            </div>

            <div class="col d-flex">
                <div class="card">
                    <img src="static/images/menus/menu_3.png" class="card-img-top" alt="Ajiaco">
                    <div class="card-body">
                        <h5 class="card-title text-center">Ajiaco</h5>
                        <p class="card-text small"><strong>Descripcion:</strong> Pollo desmechado, mazorca, papa, espinaca, alverja y arroz blanco.</p>
                        <p class="card-text text-center"> <strong>Precio:</strong> $23.000</p>
                    </div>
                </div>
            </div>

            <div class="col d-flex">
                <div class="card">
                    <img src="/static/images/menus/menu_6.png" class="card-img-top" alt="Sobrebarriga en salsa">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sobrebarriga en salsa</h5>
                        <p class="card-text small"><strong>Descripcion:</strong> Acompañada de arroz blanco, yuca, papa y aguacate.</p>
                        <p class="card-text text-center"> <strong>Precio:</strong> $30.00</p>
                    </div>
                </div>
            </div>

            <!-- Repetir esta estructura para más platos de menú -->
        </div>
    </section>

    <!-- Sección de Contacto -->
    <section id="contacto" class="container mt-4">
        <h2 class="text-center">Contacto</h2>
        <p>Estamos aquí para servirle,</p>
        <form action="#" method="post">
            <div class="mb-3">
                <label for="name">Nombre</label><br/>
                <input type="text" class="form-control" name="nombre" placeholder="Escriba su nombre aquí..." required><br/>
            </div>
            <div class="mb-3">
                <label for="email">Correo electrónico</label><br/>
                <input type="email" class="form-control" name="correo" placeholder="Escriba su correo electrónico aquí..." required><br/>
            </div>
            <div class="mb-3">
                <label for="message">Mensaje</label><br/>
                <textarea class="form-control" name="mensaje" rows="6" cols="50"></textarea><br/>
            </div>
            <input class="btn btn-primary" type="submit" value="Enviar mensaje">
        </form>
    </section>
    
                <section id="horarios" class="container mt-4">
                    <div id="horario" class="text-center bg-light p-4">
                        <h3 class="mb-4">Horario de atención</h3>
                        <div>
                            <p><strong>Lunes a Viernes:</strong></p>
                            <p><strong>10:00 - 20:00</strong></p>
                        </div>
                        <div>
                            <p><strong>Sábado y Domingo:</strong></p>
                            <p><strong>09:00 - 16:00</strong></p>
                        </div>
                    </div>
                </section>
                
                <footer class="bg-dark text-light text-center py-3">
                    <p>Copyright &copy; 2024 Restaurante de la abuela, todos los derechos reservados.</p>
                </footer>
                
                <!-- Bootstrap JavaScript Libraries -->
                <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
                    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
                    crossorigin="anonymous"></script>
                
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
                    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
                    crossorigin="anonymous"></script>
                
